<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/foodbook_details" method="post">
      <input value="{{food_name}}" name="food_name" />
      <input type="text" name="customer_name" placeholder="customer name" />
      <input type="number" name="food_price" placeholder="food price" />
      <input type="number" name="quantity" placeholder="food quantity" />
      <input type="submit" value="check total" id="" />
      <input type="number" name="total_amount" />
      <input type="submit" value="book" id="" />
    </form>
  </body>
</html>
