<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/foodbook_details" method="post">
      <input value="{{food_name}}" name="food_name" />
      <input type="text" name="customer_name" placeholder="customer name" />
      <input value="{{food_cost}}" name="food_price" id="food-cost" />
      <input
        type="number"
        value="1"
        name="quantity"
        placeholder="food quantity"
        id="food-quantity"
      />
      <input type="button" value="check total" id="check-total" />
      <input type="number" name="total_amount" id="total" />
      <input type="submit" value="book" id="" />
      <script src="{{ url_for('static', filename='app.js')}}"</script></script>
    </form>
  </body>
</html>
