{% block content %}

<h1 class="dis-room">
  <h1>Room_id------Room_cost</h1>

  
  <table class="table">
    <tr>
      <th>Room no</th>
      <th>Room cost</th>
    </tr>
    {% for dis in disprooms %}
    <tr>
      <td>{{dis.num}}</td>
      <td>{{dis.cost}}</td>
      <td>
        <a href="/book/{{dis.num}}">book</a>

        </td>
      </td>
    </tr>
    {% endfor %}
  </table>
  
</h1>
{% endblock %}
<br>
<a href="/sort">sort</a>
<br>
<a href="/inpdate">check avaialable on a particular day</a>


