<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>welcome</title>
  </head>
  <body>
    <h1>Welcome to Toyo</h1>
  </body>
  <footer>
    <ul>
     <li> <a href="/rooms/insert">Insert rooms</a> </li>
      <br />
      <li> <a href="/rooms/display">Display rooms</a></li>
      <br />
      <li> <a href="/inpdate">Book available</a></li>
      <br />
      <li> <a href="/takefood">Add Food</a></li>
      <br />
      <li> <a href="/food_menu">Food Menu</a></li>
    </ul>
  </footer>
</html>
